@import './nav';
@import './mobilenavigation';
@import './slideshow';
@import './BurgersMenu';
@import './aboutus';
@import './contactus';



body{
    margin:0;
    padding:0; 
    min-width: 400px;
}

html{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}
